
body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
    color: #333;
}

.footer {
    text-align: center;
    padding: 16px;
    font-size: 14px;
    margin-top: 40px;
}

.navbar {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-logo {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.navbar .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.underline {
    text-decoration: underline;
}


.login-btn {
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}


.hero {
    
    height: 90vh;
    background: url('bghero.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: flex-end; 
    align-items: center;       
    padding: 0 80px;           
    color: #4b4b4b;
}

.hero-text {
    text-align: right; 
    max-width: 600px;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 12px;
    font-family: "Playfair Display", serif;
}

.hero-text p {
    font-size: 23px;
    margin-bottom: 18px;
}

.hero-text .btn {
    float: right; 
    background-color: #936438;
    color: white;
}

.section-title {
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
}

.about-text {
    text-align: justify;
    margin: 40px 50px;
    font-size: 18px;
    line-height: 1.6;
}

/* ABOUT US */
.carousel-inner img {
  width: 100%;
  height: 550px;    
  object-fit: cover;   
}
.carousel-caption-bottom-right  {
  font-family: "Playfair Display", serif;
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #fff;
  z-index: 10;
  font-size: 24px;
  font-weight: bold;
}

.carousel-item {
  position: relative;
}
.card-container {
  display: flex;
  gap: 0;
  justify-content: center;
  margin: 0;
}

.bg {
  background-color: #936438;
  height: 21rem;
  display: flex;
  align-items: center; 
  gap: 32px;
  color:#1c1c1c;
}

.bg.dua {
  background-color: #f7f7f7;
}

.cardkon {
  width: 50rem;
  height: 100%;
  min-width: 20rem;
  max-width: 20rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 0 0 0px;
  border: none;
}

.cardkon .card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;  
  height: 100%;
  object-fit: cover;
}

.cardkon-text {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 90px;
}

/* LOGIN/REGISTER */
.masuk{
    display : flex;
    flex-direction : column;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 150px;
    background-color: #f7f7f7;
    border-radius: 3rem;
    box-shadow: 30px 40px 60px rgba(0, 0, 0, 0.3);
}
 /* SHOW DATA */
.table1 {
    width: 90%;
    margin: auto;
    text-align: center;
}

/*TOMBOL2 UPDATE, TAMBAH*/
.butback{
  background-color: #936438;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
}

.butsimpan{
  width: 400px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #936438;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
}


